<!--
{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %}

<-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">
    .selected {
        background-color: #00cca4;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<!-- For Stock Image -->
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

<!-- Contract Name -->
<h1><center> {{contract}} </center></h1>

<!--Greek Info-->
<div class="container">
    <div class="card-deck">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="/Users/eshaanbhattadf/CSProjects/Ogc/OgC/OGC-new-ui/media/delta.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center"><b>{{delta|safe}}</b></h4>
                <p class="card-text"><b>Delta (δ)</b> is the rate of change between the option's price and a $1 change in the asset's price. Additionally, delta represents a hedge ratio for creating a delta-neutral position or the probability that it will expire in the money.</p>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center"><b>{{rho|safe}}</b></h4>
                <p class="card-text"><b>Rho (ρ)</b> is the rate of change between the option's value and 1% change in the interest rate. In other words it measures the sensitivity to the interest rate. Rho is greatest for at-the-money options with long times until expiration.</p>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center"><b>{{theta|safe}}</b></h4>
                <p class="card-text"><b>Theta (θ)</b> is the rate of change between the option price and time, or time sensitivity. It indicates the amount an option's price would decrease as the expiration date draws nearer. Theta increases when options are at the money and decreases when options are in and out of the money.</p>
            </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center"><b>{{vega|safe}}</b></h4>
                <p class="card-text"><b>Vega (ν)</b> is the rate of change between an option's value and the underlying asset's implied volatility, the option's sensitivity to volatility. Vega indicates the amount an option's price changes given a 1% change in implied volatility. </p>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
         <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center"><b>{{gamma|safe}}</b></h4>
                <p class="card-text"><b>Gamma (γ)</b> is the rate of change between an option's delta and the underlying asset's price, second-order price sensitivity. Gamma indicates the amount the delta would change given a $1 move in the underlying security.</p>
            </div>
        </div>
    </div>
<div class="row" style="overflow:hidden;">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title text-center">Greeks</h4>
            </div>
            <div class="card-body text-center text-white">
                <div class="table-responsive table-striped">
                    <div id="greeks">
                        <table class="table tablesorter text-white">
                            <thead style="text-align:left">
                            <tr>
                                <td>IV</td>
                                <td>{{IV | safe}}: This will be fixed later</td>
                            </tr>
                            <tr>
                                <td class="text-primary">δ</td>
                                <td class="text-primary">{{delta | safe}}</td>
                            </tr>
                            <tr>
                                <td class="text-info">ρ</td>
                                <td class="text-info">{{rho | safe}}</td>
                            </tr>
                            <tr>
                                <td class="text-success">θ</td>
                                <td class="text-success">{{theta | safe}}</td>
                            </tr>
                            <tr>
                                <td class="text-warning">ν</td>
                                <td class="text-warning">{{vega | safe}}</td>
                            </tr>
                            <tr>
                                <td class="text-danger">γ</td>
                                <td class="text-danger">{{gamma | safe}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4>
          Greeks in the options market are a term for characterizing the amount of risk involved with taking a certain option. None of these variabeles are perfect. These values can be used to assess options risk and manage option portfolio.
        </h4>
        <h4 class="text-primary">
          Delta (δ) is the rate of change between the option's price and a $1 change in the asset's price. Additionally, delta represents a hedge ratio for creating a delta-neutral position or the probability that it will expire in the money. 
        </h4>
        <h4 class="text-info">
          Rho (ρ) is the rate of change between the option's value and 1% change in the interest rate. In other words it measures the sensitivity to the interest rate. Rho is greatest for at-the-money options with long times until expiration.
        </h4>
        <h4 class="text-success">
          Theta (θ) is the rate of change between the option price and time, or time sensitivity. It indicates the amount an option's price would decrease as the expiration date draws nearer. Theta increases when options are at the money and decreases when options are in and out of the money. 
        </h4>
        <h4 class="text-warning">
          Vega (ν) is the rate of change between an option's value and the underlying asset's implied volatility, the option's sensitivity to volatility. Vega indicates the amount an option's price changes given a 1% change in implied volatility. 
        </h4>
        <h4 class="text-danger">
          Gamma (γ) is the rate of change between an option's delta and the underlying asset's price, second-order price sensitivity. Gamma indicates the amount the delta would change given a $1 move in the underlying security. Options traders may opt to not only hedge delta but also gamma in order to be delta-gamma neutral, meaning that as the underlying price moves, the delta will remain close to zero.
        </h4>
        <h4>
          For more information visit <a target="_blank" href='https://www.investopedia.com/terms/g/greeks.asp'>Investopedia</a>
        </h4>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
