{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}

<h1>Please Search a Stock First to see the Options:</h1>

<!-- Searchbar to Choose Ticker -->
<form role="search" id="form">
  <input class="form-control" type="search" id="query" name="q" placeholder="Search Ticker Symbol..." aria-label="Search through site content" style="width:90%; float:left;">
  <button class="btn btn-primary btn-round" onclick="loadDoc()" style="float:left; margin-left:1%; margin-top:-1.5px">
    <i class="tim-icons icon-zoom-split"></i>
      <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
      </path>
  </button>
</form>

<br style="clear:both"/><br>

<div class="logo">
    <a href="/" class="simple-text logo-normal">
      <center>
        <center><img src="{% static 'assets/img/choose.gif' %}" alt="Home" width=80% height=23%></center>
      </center>
    </a>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const f = document.getElementById('form');
  const q = document.getElementById('query')
  const google = 'https://www.google.com/search?q=site%3A+';
  const site = 'http://127.0.0.1:8000/options/';
  // document.getElementById("test").innerHTML = typeof q + " " + q;

  function submitted(event) {
    event.preventDefault();
    const url = site + q.value.replace(/\s+/g, '');; // const url = google + site + '+' + q.value;
    const win = window.open(url, '_self');
    win.focus();
    // $route.reload();
  }

  f.addEventListener('submit', submitted);
</script>
{% endblock javascripts %}
