{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- For Stock Image -->
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

<!-- Stock Name -->
<div id="stock" style="text-align:center; display:inline;">
    <a target="_blank" href='https://{{image |safe}}.com/'>
        <h1>
            <img src="//logo.clearbit.com/{{image | safe}}.com" width=58px>
            <u>{{name}} {{ticker}}</u>
            <img src="//logo.clearbit.com/{{image | safe}}.com" width=58px>
        </h1>
    </a>
    <br>
</div>

<!-- Searchbar to Choose Ticker -->
<form role="search" id="form">
    <input class="form-control" type="search" id="query" name="q" placeholder="Search Ticker Symbol..."
           aria-label="Search through site content" style="width:90%; float:left;">
    <button class="btn btn-primary btn-round" onclick="loadDoc()" style="float:left; margin-left:1%">
        <i class="tim-icons icon-zoom-split"></i>
        <path class="path1"
              d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
        </path>
    </button>
</form>

<br style="clear:both"/><br>

<!-- Form to Choose Expiration Date and Type of Option -->
<!-- Options -->
<div class="row" style="overflow:auto; height:850px; width:60%; float:left;">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h2 class="card-title text-center align-content-center">Options Contracts</h2>
                <form action="#" method="get" class="demoForm" id="demoForm">
                    <label><input type="radio" name="type" value="Calls"/><h4>Calls</h4></label>
                    <label><input type="radio" name="type" value="Puts"/><h4>Puts</h4></label>
                    <button type="submit" style = "float: right" name="getVal">Load</button>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover table-borderless text-center">
                    <div id="options" class="table tablesorter " style="color:white;">
                        <thead class="text-primary">
                        </thead>
                        {{options | safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Greek Info-->
<div class="row" style="overflow:hidden; height:400px; width:40%; float:right;">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title text-center">Greeks</h4>
            </div>
            <div class="card-body text-center text-white">
                <div class="table-responsive table-striped">
                    <div id="greeks">
                        <table class="table tablesorter text-white" id="">
                            <thead>
                            <tr>
                                <td>δ</td>
                                <td>{{delta | safe}}</td>
                            </tr>
                            <tr>
                                <td>ρ</td>
                                <td>{{rho | safe}}</td>
                            </tr>
                            <tr>
                                <td>θ</td>
                                <td>{{theta | safe}}</td>
                            </tr>
                            <tr>
                                <td>ν</td>
                                <td>{{vega | safe}}</td>
                            </tr>
                            <tr>
                                <td>γ</td>
                                <td>{{gamma | safe}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stock Info-->
<div class="row" style="overflow:hidden; height:500px; width:40%; float:right;">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title text-center text-justify">Key Stock Data</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="stock_info">
                        <table class="table tablesorter text-center" id="">
                            <thead class=" text-primary">
                            </thead>
                            <tr>
                                <td>Current Price</td>
                                <td>{{ price }}</td>
                            </tr>
                            <tr>
                                <td>Day's Range</td>
                                <td>{{ day_range }}</td>
                            </tr>
                            <tr>
                                <td>52 Week Range</td>
                                <td>{{ 52wk_range }}</td>
                            </tr>
                            <tr>
                                <td>Volume</td>
                                <td>{{ volume }}</td>
                            </tr>
                            <tr>
                                <td>EPS</td>
                                <td>{{ eps }}</td>
                            </tr>
                            <tr>
                                <td>Market Cap</td>
                                <td>{{ market_cap }}</td>
                            </tr>
                            <tr>
                                <td>Industry</td>
                                <td>{{ industry }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br style="clear:both"/><br>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    const f = document.getElementById('form');
    const q = document.getElementById('query')
    const google = 'https://www.google.com/search?q=site%3A+';
    const site = 'http://127.0.0.1:8000/ui-tables.html/';

    // document.getElementById("test").innerHTML = typeof q + " " + q;

    function submitted(event) {
        event.preventDefault();
        const url = site + q.value.replace(/\s+/g, ''); // const url = google + site + '+' + q.value;
        const win = window.open(url, '_self');
        win.focus();
        // $route.reload();
    }

    function getRadioVal(form, name) {
        var val;
        // get list of radio buttons with specified name
        var radios = form.elements[name];

        // loop through list of radio buttons
        for (var i = 0, len = radios.length; i < len; i++) {
            if (radios[i].checked) { // radio checked?
                val = radios[i].value; // if so, hold its value in val
                break; // and break out of for loop
            }
        }
        return val; // return value of checked radio or undefined if none checked
    }

    document.getElementById('demoForm').onsubmit = function () {
        // this (keyword) refers to form to which onsubmit attached
        // 'ship' is name of radio button group
        let val = getRadioVal(this, 'ship');
        // display value obtained
        alert(val);
        // more code here ...
    }
    f.addEventListener('submit', submitted);
</script>
{% endblock javascripts %}
