{% load static %}
{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <body style="background-color:#1F2B4A">
		<a style="float: right; margin-right: 2%" href='http://127.0.0.1:8000/'>
		    <img src="{% static 'images/logo.png' %}" alt="Home" width="150" height="106">
		</a>
		<br>

	    <form method="POST" class="form-group">
	        {% csrf_token %}
	        {{form|crispy}}
	        <button type="submit" class="btn btn-success">Register</button>
	    </form>
	</body>
{% endblock %}