{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
      /* Hyperlinks at top */
      .hyperlinks {
        float: right; 
        margin-top: 28px;     
      }
      /* Headings at top */     
      ul#headings a {
        display: inline; 
        margin-right: 20px;
        color: #5FB2FF;
      }
      /* Break Lines */
      hr {
        width: 100%;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        background-color: #151515;
        border: 0 none;
      }
    </style>
  </head>

  <body style="background-color:#001444; font-family: Montserrat; margin-left: -24px">
    <div class ="header">
      <!-- List of hyperlinks at top of page -->
      <ul id="headings">
        <!-- OgC Logo Button -->
        <a class = "OGC" href='http://127.0.0.1:8000/'>
          <img src="{% static 'images/logo.png' %}" alt="Home" width="140" height="100">
        </a>

        <!--Hyperlinks-->
        <div class="hyperlinks" style="font-size: 25px">
          <a href='http://127.0.0.1:8000/'>Home</a>
          <a href="help">Help</a></li>
          <a href='about_us'>About Us</a>
          <a href="contact">Contact</a>
          <a href="view">Watchlist</a>
          <a href="login">Login</a></span></p>
        </div>
      </ul>
      <!-- Dividing Line --> 
      <hr style="clear:both"/>
    </div>

    <!-- About US Title -->
    <h1 class="display-4" style="color:#0072DC"><center><u>About Us:</u></center></h1>

    <!-- About Us Paragraph -->
    <p style="color:#FAFAFA; font-size: 20px; text-align:center; padding-left: 50px; padding-right: 50px">We are a group of aspiring computer scientists from the Univeristy of Illinois at Urbana-Champaign (UIUC) with an interest in finance. This website was developed by Anakin, Brian, Gabe, Suyash, Eshaan, Joseph, and Sanya. We also had the help of the best project manager JAMES! Our reason for creating OgC was because we had to have some project for our CS 196 class, but more importantly because we wanted an easier way to access and interperet the different options for a given stock.</p>

  </body>
</html>


