{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
      /* Hyperlinks at top */
      .hyperlinks {
        float: right; 
        margin-top: 28px;     
      }
      /* Headings at top */     
      ul#headings a {
        display: inline; 
        margin-right: 20px;
        color: #5FB2FF;
      }
      /* Break Lines */
      hr {
        width: 100%;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        background-color: #151515;
        border: 0 none;
      }
    </style>
  </head>


  <body style="background-color:#001444; font-family: Montserrat; margin-left: -24px">
    <div class ="header">
      <!-- List of hyperlinks at top of page -->
      <ul id="headings">
        <!-- OgC Logo Button -->
        <a class = "OGC" href='http://127.0.0.1:8000/'>
          <img src="{% static 'images/logo.png' %}" alt="Home" width="140" height="100">
        </a>

        <!--Hyperlinks-->
        <div class="hyperlinks" style="font-size: 25px">
          <a href='http://127.0.0.1:8000/'>Home</a>
          <a href="help">Help</a></li>
          <a href='about_us'>About Us</a>
          <a href="contact">Contact</a>
          <a href="view">Watchlist</a>
          <a href="login">Login</a></span></p>
        </div>
      </ul>
      <!-- Dividing Line --> 
      <hr style="clear:both"/>
    </div>

    <!-- Help Title Text -->
    <h1 class="display-2" style="color:#0072DC"><center><u>Help!!!</u></center></h1>

    <!-- Help Paragraph Information Text -->
    <p style="color:#FAFAFA; font-size: 20px; text-align:center; padding-left: 50px; padding-right: 50px">You have found the help page. I am sorry but Joseph doesn't understand finance either, so the help page currently will be of no use. In the future someone, maybe even Joseph, will add information on what greeks are or how to interpret options. However, until someone smarter than Joseph or when Joseph decides to learn the information himself, this page will be basically useless. </p>
  </body>
</html>


