{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
      /* Hyperlinks at top */
      .hyperlinks {
        float: right; 
        margin-top: 18px;     
      }
      /* Headings at top */     
      ul#headings a {
        display: inline; 
        margin-right: 20px;
        color: #5FB2FF;
      }
      /* Break Lines */
      hr {
        width: 100%;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        background-color: #151515;
        border: 0 none;
      }
    </style>
  </head>

  <body style="background-color:#001444; font-family: Montserrat; margin-left: -24px; margin-top: 5px">
    <div class ="header">
      <!-- List of hyperlinks at top of page -->
      <ul id="headings">
        <!-- OgC Logo Button -->
        <a class = "OGC" href='http://127.0.0.1:8000/'>
          <img src="{% static 'images/logo.png' %}" alt="Home" width="140" height="80">
        </a>

        <!--Hyperlinks-->
        <div class="hyperlinks" style="font-size: 25px">
          <a href='http://127.0.0.1:8000/'>Home</a>
          <a href="help">Help</a></li>
          <a href='about_us'>About Us</a>
          <a href="contact">Contact</a>
          <a href="view">Watchlist</a>
          <a href="login">Login</a></span></p>
        </div>
      </ul>
      <!-- Dividing Line --> 
      <hr style="clear:both"/>
    </div>

    <!-- Watchlist Text --> 
    <h1 class="display-4" style="color: #0072DC"><center><u>{{name}}'s Watchlist<u/></center></h1>

    {% block content %}
        {% for wl in user.watchlist.all %}
            <p><a href="/{{wl.name}}">{{wl.name}}</a></p>
        {% endfor %}
    {% endblock %}
  </body>
</html>