
{% extends 'layouts/base.html' %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}

<center><h1> Help </h1></center>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="text-primary">
          <center>You have found the help page. I am sorry but Joseph doesn't understand finance either, so the help page currently will be of no use. In the future someone, maybe even Joseph, will add information on what greeks are or how to interpret options. However, until someone smarter than Joseph or when Joseph decides to learn the information himself, this page will be basically useless. But you can enjoy this prequel memes!</center>
        </h3>
        <div class="logo">
          <a href="/" class="simple-text logo-normal">
            <center>
              <center><img src="{% static 'assets/img/help.gif' %}" alt="Home" width=80% height=23%></center>
            </center>
          </a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
