{% load static %}

{% block title %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style type="text/css">
  /* Hyperlinks at top */
  .hyperlinks {
    float: right; 
    margin-top: 22px;
    margin-right: -8px;     
  }
  /* Headings at top */     
  ul#headings a {
    display: inline; 
    margin-right: 20px;
    color: #5FB2FF;
  }
  /* Break Lines */
  hr {
    width: 100%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    background-color: #151515;
    border: 0 none;
  }
  .from-group {
  	color:green;
  	font-size: 30px;
  	margin-left: 2%;
  	line-height: 2;
  }
	.block {
	  display: block;
	  width: 150px;
	  border: none;
	  background-color: green;
	  color: white;
	  padding: 7px 28px;
	  font-size: 30px;
	  cursor: pointer;
	  text-align: center;
	}
</style>
<body style="background-color:#001444; font-family: Montserrat; margin-left: -24px; margin-top: 5px">
  <div class ="header">
  	<!-- List of hyperlinks at top of page -->
      <ul id="headings">
        <!-- OgC Logo Button -->
        <a class = "OGC" href='http://127.0.0.1:8000/'>
          <img src="{% static 'images/logo.png' %}" alt="Home" width="140" height="80">
        </a>

        <!--Hyperlinks-->
        <div class="hyperlinks" style="font-size: 25px">
          <a href='http://127.0.0.1:8000/'>Home</a>
          <a href="http://127.0.0.1:8000/help">Help</a></li>
          <a href='http://127.0.0.1:8000/about_us'>About Us</a>
          <a href="http://127.0.0.1:8000/contact">Contact</a>
          <a href="http://127.0.0.1:8000/view">Watchlist</a>
          <a href="http://127.0.0.1:8000/login">Login</a></span></p>
        </div>
      </ul>
      <!-- Dividing Line --> 
      <hr style="clear:both"/>
    </div>

	<form method="post" class="from-group">
		{% csrf_token %}
		{{form|crispy}}
		<button style="margin-top:30px" type="submit" class="block">Login</button>
		
	</form>
	<p style="font-size: 30px; margin-left: 2%; color:green">Don't have an account? Create one <a style="color:green" href="/register">here!</a></p>
</body>
{% endblock %}
