{% load static %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
	<body style="background-color:#1F2B4A">
		<a style="float: right; margin-right: 2%" href='http://127.0.0.1:8000/'>
		    <img src="{% static 'images/logo.png' %}" alt="Home" width="150" height="106">
		</a>
		<br>
		<form method="post" class="from-group">
			{% csrf_token %}
			{{form|crispy}}
			<br>
			<button type="submit" class="btn btn-success">Login</button>
			<p>Don't have an account? Create one <a href="/register">here</a></p>
		</form>
	</body>
{% endblock %}
